# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
rlhf311/

# Models
models/
outputs/
checkpoints/

# Logs
wandb/
logs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db