# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
rlhf311/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# HuggingFace cache
.cache/
huggingface/

# Model files
models/
checkpoints/
outputs/
logs/
wandb/
runs/

# Dataset cache
data/processed/
data/cache/

# LoRA adapters
adapters/

# TensorBoard
events.out.tfevents.*

# OS
.DS_Store
Thumbs.db